@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/OpenSansRegular/open-sans-regular.woff2") format("woff2"),
  url("../fonts/OpenSansRegular/open-sans-regular.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "OpenSans";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/OpenSansLight/open-sans-light.woff2") format("woff2"),
  url("../fonts/OpenSansLight/open-sans-light.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "OpenSans";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/OpenSansBold/open-sans-bold.woff2") format("woff2"),
  url("../fonts/OpenSansBold/open-sans-bold.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "OpenSans";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/OpenSansExtraBold/open-sans-extrabold.woff2") format("woff2"),
  url("../fonts/OpenSansExtraBold/open-sans-extrabold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "OpenSansItalic";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/OpenSansItalic/open-sans-italic.woff2") format("woff2"),
  url("../fonts/OpenSansItalic/open-sans-italic.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "OpenSans";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/OpenSansSemiBold/open-sans-semibold.woff2") format("woff2"),
  url("../fonts/OpenSansSemiBold/open-sans-semibold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/RobotoRegular/roboto-regular-webfont.woff2") format("woff2"),
  url("../fonts/RobotoRegular/roboto-regular-webfont.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "RobotoSlab";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/RobotoSlabBold/RobotoSlabBold.woff2") format("woff2"),
  url("../fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "MyriadPro";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "LemonTuesday";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/LemonTuesday/ofont.ru_Lemon.ttf") format("truetype");
}
