.rolls {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
  box-sizing: border-box;
}

.rolls-title {
  position: relative;
  display: flex;
  align-self: center;
  margin-top: 0;
  font-family: "LemonTuesday", "Arial", "Helvetica", sans-serif;
  font-size: 44px;
  line-height: 28.5px;
  color: #32505a;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -84px;
    display: block;
    width: 74px;
    height: 27px;
    background-image: url("../img/plexus-left.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 118px;
    display: block;
    width: 74px;
    height: 27px;
    background-image: url("../img/plexus-right.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.rolls-arrows {
  display: none;
}

.rolls-slider {
  display: flex;
}

.rolls-slide {
  display: block;
  flex-direction: column;
  width: 228px;
  margin: 11px 30px 20px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 29px 0px rgba(0, 0, 0, 0.08);
}

.rolls-slide__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  margin-bottom: 18px;
}

.rolls-slide__header--action {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 17px;
    right: 22px;
    display: block;
    width: 41px;
    height: 41px;
    background-image: url("../img/fire-in-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.rolls-slide__header img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rolls-slide__footer {
  display: flex;
  flex-direction: column;
  padding: 11px 15px 35px;
}

.rolls-slide__footer-title {
  align-self: center;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28.5px;
  margin-top: 0;
  margin-bottom: 15px;
}

.rolls-slide__footer-char {
  align-self: center;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 17px;
}

.rolls-slide__footer-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}

.rolls-slide__footer-price {
  margin: 0;
  padding-left: 7px;
  font-family: "RobotoSlab", "Arial", "Helvetica", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28.5px;
  & sup {
    letter-spacing: 0.1px;
  }
}

.rolls-slide__footer-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 63px;
}

.rolls-slide__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  box-sizing: border-box;
  &:first-child {
    background-image: url("../img/btn-minus.svg");
  }

  &:last-child {
    background-image: url("../img/btn-plus.svg");
  }
}

.rolls-slide__footer-input {
  width: 20px;
  text-align: center;
  border: none;
}

.rolls-slide__footer-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  background-color: #fd4f10;
  background-image: url("../img/cart-white.svg");
  background-repeat: no-repeat;
  background-size: 22px 20px;
  background-position: 143px center;
  border-radius: 5px;
  padding: 10px 0 10px 33px;
}

@media (min-width: 750px) {
  .rolls {
    margin-bottom: 73px;
  }

  .rolls-title {
    &::before,
    &::after {
      top: -2px;
      width: 86px;
      height: 32px;
    }

    &::before {
      left: -110px;
    }

    &::after {
      left: 126px;
    }
  }

  .rolls-arrows {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    display: flex;
    width: 270px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    button {
      display: block;
      width: 26px;
      height: 19px;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.5;
      &:focus {
        opacity: 1;
      }
    }
  }

  .rolls-arrows__preview {
    background-image: url("../img/arrow-preview.svg");
  }

  .rolls-arrows__next {
    background-image: url("../img/arrow-next.svg");
  }

  .rolls-slider__pagination {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 140px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    & li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8px;
      height: 8px;
      margin-right: 22px;
      box-sizing: border-box;
      & button {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        font-size: 0;
        background-image: url("../img/dots-gray.svg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        box-sizing: border-box;
      }
    }
    & li:last-child {
      margin-right: 0;
    }
    & li.slick-active button {
      background-image: url("../img/dots-active.svg");
    }
  }
}
