.wok {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.wok-title {
  position: relative;
  display: flex;
  align-self: center;
  margin-top: 0;
  font-family: "LemonTuesday", "Arial", "Helvetica", sans-serif;
  font-size: 44px;
  line-height: 28.5px;
  color: #32505a;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -104px;
    display: block;
    width: 74px;
    height: 27px;
    background-image: url("../img/plexus-left.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 121px;
    display: block;
    width: 74px;
    height: 27px;
    background-image: url("../img/plexus-right.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.wok-arrows {
  display: none;
}

.wok-slider {
  display: flex;
  padding-top: 11px;
}

.wok-slide {
  display: block;
  flex-direction: column;
  width: 228px;
  margin: 11px 30px 20px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 29px 0px rgba(0, 0, 0, 0.08);
}

.wok-slide__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  padding-top: 35px;
  padding-bottom: 41px;
}

.wok-slide__header--action {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 17px;
    right: 22px;
    display: block;
    width: 41px;
    height: 41px;
    background-image: url("../img/fire-in-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.wok-slide__header img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wok-slide__footer {
  display: flex;
  flex-direction: column;
  padding: 11px 13px 35px;
}

.wok-slide__footer-title {
  align-self: center;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28.5px;
  margin-top: 0;
  margin-bottom: 12px;
}

.wok-slide__footer-char {
  align-self: center;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 49px;
}

.wok-slide__footer-addition {
  display: flex;
  flex-wrap: wrap;
  & select {
    width: 100%;
    appearance: none;
    font-size: 12px;
    font-weight: 300;
    line-height: 28.5px;
    background-color: #f2f2f2;
    background-image: url("../img/select-btn.svg");
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    border-radius: 3px;
    margin-bottom: 19px;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

.wok-slide__footer-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}

.wok-slide__footer-price {
  margin: 0;
  padding-left: 7px;
  font-family: "RobotoSlab", "Arial", "Helvetica", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28.5px;
  & sup {
    letter-spacing: 0.1px;
  }
}

.wok-slide__footer-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 63px;
}

.wok-slide__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  box-sizing: border-box;
  &:first-child {
    background-image: url("../img/btn-minus.svg");
  }

  &:last-child {
    background-image: url("../img/btn-plus.svg");
  }
}

.wok-slide__footer-input {
  width: 20px;
  text-align: center;
  border: none;
}

.wok-slide__footer-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  background-color: #fd4f10;
  background-image: url("../img/cart-white.svg");
  background-repeat: no-repeat;
  background-size: 22px 20px;
  background-position: 143px center;
  border-radius: 5px;
  padding: 10px 0 10px 33px;
}

@media (min-width: 750px) {
  .wok {
    margin-bottom: 67px;
    padding-bottom: 0;
  }

  .wok-title {
    &::before,
    &::after {
      top: -11px;
      width: 101px;
      height: 37px;
    }

    &::before {
      left: -135px;
    }

    &::after {
      left: 122px;
    }
  }

  .wok-arrows {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 270px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    button {
      display: block;
      width: 26px;
      height: 19px;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.5;
      &:focus {
        opacity: 1;
      }
    }
  }

  .wok-arrows__preview {
    background-image: url("../img/arrow-preview.svg");
  }

  .wok-arrows__next {
    background-image: url("../img/arrow-next.svg");
  }

  .wok-slider__pagination {
    position: absolute;
    bottom: -39px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 140px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    & li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8px;
      height: 8px;
      margin-right: 22px;
      box-sizing: border-box;
      & button {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        font-size: 0;
        background-image: url("../img/dots-gray.svg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        box-sizing: border-box;
      }
    }
    & li:last-child {
      margin-right: 0;
    }
    & li.slick-active button {
      background-image: url("../img/dots-active.svg");
    }
  }
}
